.app-route {
    border: 1px solid black;
    box-sizing: border-box;
    min-height: 50px;
}

.app-route1 {
    border: 1px solid rgb(190, 28, 28);
    box-sizing: border-box;
    min-height: 50px;
}
